<div class="contact">
    <a href="/company">
        <div class="contact_company_container">
            <p>Check Our Data</p>
            <h1>COMPANY</h1>
        </div>
    </a>
    <a href="/contact">
        <div class="contact_contact_container">
            <p>Say "MEOW"</p>
            <h1>CONTACT</h1>
        </div>
    </a>
</div>