<div class="journal_container">
    <div class="journal_title">
        <h1>JOURNAL</h1>
        <span class="hr"></span>
    </div>
    <div class="journal_btn">
        <i class="fas fa-arrow-left gray" id="journal_left"></i>
        <i class="fas fa-arrow-right pointer"  id="journal_right"></i>
    </div>
    <div class="journal_main">
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_top_side_img.jpeg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">January 11th, 2020</span>
                    </div>
                    <div class="name">
                        <p>Cat Food Bowl MOG</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_top_img.jpg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">August 8th, 2019</span>
                    </div>
                    <div class="name">
                        <p>NEKOFLOOR</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_rest.jpg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">June 20th, 2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT RESTROOM</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_bed.jpg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">May 14th, 2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT BED</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_dna.jpg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">May 10th, 2019</span>
                    </div>
                    <div class="name name_japanese">
                        <p>愛猫のDNAを通して家族に伝えること</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_karimoku.jpg">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">April 2nd,2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a href="/journal" class="journal_more_btn">
        <span class="t">MORE</span>
    </a>
</div>