<div class="meow_container">
    <h1>MEOW</h1>
    <div class="meow_main">
        <div class="meow_main_title">
            <h2>猫の健康を通じて、<br>
            人々の暮らしを豊かに</h2>
            <p>
                猫と暮らすライフスタイルが身近になり、現代を生きる私たちにとって、猫はかけがえのない大切な家族です。私たちは「キャット・ファースト」をスローガンに掲げ、猫の健康をサポートし、猫と人が一緒に心地よく過ごせる豊かな暮らしをデザインします。
            </p>
        </div>
        <img src="/RINN_top_meow_img.jpg">
        <div class="meow_main_button">
            <a href="/meow" class="meow_main_button_btn">
                <span class="bg"></span>
                <span class="t">ABOUT US</span>
            </a>
        </div>
    </div>
</div>