<div class="products_container">
    <div class="products_title">
        <h1>PRODUCTS</h1>
        <a href="/products" class="products_title_btn">
            <span class="bg"></span>
            <span class="t">MORE</span>
        </a>
    </div>
    <div class="products_main">
        <div class="products_main_tree">
        <a href="#">
            <img src="/RINN_products_tree.jpg">
            <div class="products_main_tree_data">
                <h2>TREE</h2>
                <p>猫が透けて見える美しいキャットツリー</p>
            </div>
        </a>
        </div>
        <div class="products_main_cup">
        <a href="#">
            <img src="/RINN_products_IZUMI.jpg">
            <div class="products_main_cup_data">
                <h2>CUP</h2>
                <p>獣医師監修の飲みやすい高さとシンプルなデザインが特徴の猫用水飲み器</p>
            </div>
        </a>
        </div>
        <div class="products_main_food">
        <a href="#">
            <img src="/RINN_products_autofood.jpg">
            <div class="products_main_food_data">
                <h2>FOOD</h2>
                <p>食べ過ぎや一気食い防止にも効果的な猫・小型犬用自動給餌器</p>
            </div>
        </a>
        </div>
    </div>
    <div class="products_main_btn">
        <i class="fas fa-arrow-left gray" id="products_left"></i>
        <i class="fas fa-arrow-right pointer" id="products_right"></i>
    </div>
</div>