<div class="company_container">
    <div class="company_wrapper">
        <h1>COMPANY</h1>
    </div>
    <div class="company_main">
        <div class="company_main_left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12963.55635474875!2d139.76030125808109!3d35.67973286978036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1582075199424!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="company_main_right">
            <dl>
                <dt>社名</dt>
                <dd>株式会社NEKO （NEKO Inc.）</dd>
                <dt>代表者</dt>
                <dd>代表取締役CEO　山田太郎</dd>
                <dt>設立</dt>
                <dd>2011年11月11日</dd>
                <dt>オフィス</dt>
                <dd>東京都千代田区丸の内１丁目</dd>
                <dt>TEL</dt>
                <dd>01-2345-6789</dd>
                <dt>主要取引銀行</dt>
                <dd>○○○○銀行　東京駅前支店</dd>
                <dt>事業内容</dt>
                <dd>
                    <ol>
                        <li>猫用プロダクトの企画・販売</li>
                        <li>雑誌の出版・販売</li>
                        <li>インテリア、プロダクト、グラフィック等の企画・デザイン</li>
                        <li>デザイン関連のプロデュース・コンサルティング</li>
                        <li>上記業務に関連、付帯する一切の業務</li>
                    </ol>
                </dd>
                <dt>資本金</dt>
                <dd>12,345,678円（資本準備金含む）</dd>
                <dt>主要取引先</dt>
                <dd>
                    <ul>
                        <li>A社</li>
                        <li>B社</li>
                        <li>C社</li>
                        <li>D社</li>
                        <li>E社</li>
                    </ul>
                </dd>
                <dt>アドバイザー</dt>
                <dd>山田一郎</dd>
            </dl>
        </div>
    </div>
</div>