<div class="contact_container">
    <div class="contact_form">
        <div class="contact_form_info">
            <h1>CONTACT</h1>
            <dl>
                <dt><label for="name">お名前</label></dt>
                <dd><input type="text" id="name" name="name" placeholder="Name"></dd>
            </dl>
            <dl>
                <dt><label for="email">メールアドレス</label></dt>
                <dd><input type="mail" id="email" name="email" placeholder="sample@rinn.co.jp"></dd>
            </dl>
            <dl>
                <dt><label for="subject">件名</label></dt>
                <dd><input type="text" id="subject" name="subject" placeholder="Subject"></dd>
            </dl>
        </div>
        <div class="contact_form_message">
            <dl>
                <dt><label for="message">本文</label></dt>
                <dd><textarea id="message" name="message" placeholder="Message here"></textarea></dd>
            </dl>
        </div>
    </div>
    <div class="contact_submit">
        <div class="contact_submit_policy">
            <input type="checkbox"><a href="/privacy_policy">プライバシーポリシー</a><span>に同意します</span><br>
        </div>
        <div class="contact_submit_btn">
            <span class="bg"></span>
            <button type="submit"><span class="t">Submit</span></button>
        </div>
    </div>
</div>