<div class="detail_journal_container">
    <h1 class="detail_journal_title">JOURNAL</h1>
    <div class="detail_journal_wrapper">
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_top_side_img.jpeg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">January 11th, 2020</span>
                    </div>
                    <div class="name">
                        <p>Cat Food Bowl MOG</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_top_img.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">August 8th, 2019</span>
                    </div>
                    <div class="name">
                        <p>NEKOFLOOR</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_rest.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">June 20th, 2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT RESTROOM</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_bed.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">May 14th, 2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT BED</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_dna.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">May 10th, 2019</span>
                    </div>
                    <div class="name name_japanese">
                        <p>愛猫のDNAを通して家族に伝えること</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_karimoku.jpg" class="detail_journal_img_height">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">April 2nd, 2019</span>
                    </div>
                    <div class="name">
                        <p>KARIMOKU CAT</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_window.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">January 23th, 2019</span>
                    </div>
                    <div class="name">
                        <p>猫と窓</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_eye.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">December 10th, 2018</span>
                    </div>
                    <div class="name">
                        <p>猫への優しいまなざし</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_chair.jpg" class="detail_journal_img_height">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">Novenber 22nd, 2018</span>
                    </div>
                    <div class="name">
                        <p>猫と椅子</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_doctor.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">October 17th, 2018</span>
                    </div>
                    <div class="name">
                        <p>未来の猫医療</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_walk.jpg" class="detail_journal_img_width">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">October 4th, 2018</span>
                    </div>
                    <div class="name">
                        <p>猫と散歩</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="journal_main_article">
            <a href="#">
                <img src="/RINN_journal_design.jpg" class="detail_journal_img_height">
                <div class="journal_main_article_title">
                    <div class="data">
                        <span class="date">August 31th, 2018</span>
                    </div>
                    <div class="name">
                        <p>猫とデザイン</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>