<div class="detail_meow_container">
    <div class="detail_meow_wrapper">
        <div class="detail_meow_title">
            <h1>MEOW!</h1>
        </div>
        <div class="detail_meow_info">
            <div class="detail_meow_info_para">
                <h2>猫の健康を通じて、<br>人々の暮らしを豊かに</h2>
                <p>
                    猫と暮らすライフスタイルが身近になり、現代を生きる私たちにとって、猫はかけがえのない大切な家族です。私たちは「キャット・ファースト」をスローガンに掲げ、猫の健康をサポートし、猫と人が一緒に心地よく過ごせる豊かな暮らしをデザインします。
                </p>
            </div>
            <img src="/RINN_meow_detail_neko.jpg">
        </div>
        <div class="detail_meow_founder">
            <img src="/sample_founder.jpg">
            <div class="detail_meow_founder_name">
                <h2>Meet The Founder</h2>
                <h4>Taro Yamada</h4>
            </div>
        </div>
    </div>
    <div class="detail_meow_founder_greet">
        <p>
            株式会社NEKOは猫用の商品を開発・販売する会社です。<br>
            株式会社NEKOは猫用の商品を開発・販売する会社です。<br>
            株式会社NEKOは猫用の商品を開発・販売する会社です。株式会社NEKOは猫用の商品を開発・販売する会社です。株式会社NEKOは猫用の商品を開発・販売する会社です。
        </p>
        <p>代表取締役CEO　山田太郎</p>
    </div>
    <div class="detail_meow_next">
        <a href="/journal">
            <div class="detail_meow_next_btn">
                <p>Next</p>
                <h2>OUR PRODUCTS</h2>
            </div>
        </a>
    </div>
</div>