<div class="privacy_policy_container">
    <h1 class="privacy_policy_title">Privacy Policy</h1>
    <div class="privacy_policy_content">
        <p>
            株式会社NEKO（以下「当社」といいます。）は、個人情報保護に関する法令及びその他の規範を順守し、お客様のプライバシー保護に努めます。
        </p>
        <dl>
            <dt>個人情報の定義</dt>
            <dd>
                お客さま個人に関する情報(以下「個人情報」といいます)であって、お客さまのお名前、住所、電話番号など当該お客さま個人を識別することができる情報をさします。他の情報と組み合わせて照合することにより個人を識別することができる情報も含まれます。
            </dd>
            <dt>個人情報の取扱い適用範囲</dt>
            <dd>
                個人情報の取扱いについては、商品のご購入、当社へのご連絡、メールマガジンの購読などをご利用された際にお客様の個人情報を収集することがあります。
            </dd>
            <dt>個人情報の利用目的</dt>
            <dd>当社は、お客様から収集させていただいた個人情報、ご注文情報（お客様の注文履歴に関する情報を含む）を、以下の各号に定める目的のために利用することがあります。<br>
                （1）お客様に対して、当社の商品やサービスをご紹介する場合<br>
                （2）お客様からのお問い合わせに対して回答を行う場合<br>
                （3）お客様に対して、当社の製品・サービスに対するご意見やご感想のご提供をお願いするため
            </dd>
            <dt>個人情報の預託について</dt>
            <dd>
                当社は、明示した利用目的の達成の為に必要な範囲で業務を預託する場合があります。その場合は、業務委託先の適切な管理及び監督を行います。（業務委託先とは、配送業者、製造委託会社等）
            </dd>
            <dt>個人情報の第三者への開示</dt>
            <dd>
                当社は、利用者の個人情報を利用者の同意なしに業務委託先以外の第三者に開示することはありません。但し、法令により開示を求められた場合、または、裁判所、警察等の公的機関から開示を求められた場合は、利用者の同意なく個人情報を開示することがあります。
            </dd>
            <dt>個人情報の取扱いの変更及び通知</dt>
            <dd>
                当社は、本個人情報の取扱いについての内容を、当社の営業上の必要性、新法令の施行、既存法令の改正その他の事情により、 事前の予告なく変更することがあります。変更した場合は、本ウェブサイトに掲示し、お知らせします。
            </dd>
            <dt>個人情報の開示・訂正・削除</dt>
            <dd>
                開示・訂正・削除を希望される場合は、電話、Eメールでご連絡ください。その際にはご本人であることを確認させていただきますので、ご了承ください。
            </dd>
            <dt>個人情報保護方針に関するお問い合せ先</dt>
            <dd>
                ご不明な点は下記までご連絡下さい。
                <div class="support">
                    <h4>NEKO カスタマーサポート</h4>
                    <p>
                        〒100-0005 東京都千代田区丸の内１丁目<br>
                        TEL：0120-012-345（平日10:00 -17:00 土日祝除く）<br>
                        メールでのお問合せ：sample@neko.co.jp
                    </p>
                </div>
            </dd>
        </dl>
    </div>
</div>