<div class="detail_products_container">
    <h1 class="detail_products_title">PRODUCTS</h1>
    <div class="detail_products_NEKO">
        <img src="/RINN_products_NEKO.jpg">
        <a href="#">
            <div class="detail_products_wrapper">
                <img src="/RINN_products_tree.jpg">
                <h2>NEKO</h2>
                <p>猫が透けて見える美しいキャット・ツリー。”猫のための近代建築”をコンセプトに、大理石、国産広葉樹やデンマークA社の生地を贅沢にあしらい、飛騨の匠によって生み出された究極の猫用遊戯家具。</p>
                <object>
                    <a href="#">
                        <span class="bg"></span>
                        <span class="t">Product Page</span>
                    </a>
                </object>
            </div>
        </a>
    </div>
    <div class="detail_products_NEKO">
        <a href="#">
            <div class="detail_products_wrapper">
                <img src="/RINN_products_IZUMI.jpg">
                <h2>NEKO</h2>
                <p>猫が透けて見える美しいキャット・ツリー。”猫のための近代建築”をコンセプトに、大理石、国産広葉樹やデンマークA社の生地を贅沢にあしらい、飛騨の匠によって生み出された究極の猫用遊戯家具。</p>
                <object>
                    <a href="#">
                        <span class="bg"></span>
                        <span class="t">Product Page</span>
                    </a>
                </object>
            </div>
        </a>
        <img src="/RINN_products_IZUMI2.jpg">
    </div>
    <div class="detail_products_NEKO">
        <img src="/RINN_products_mill.jpg">
        <a href="#">
            <div class="detail_products_wrapper">
                <img src="/RINN_products_mill2.jpg">
                <h2>NEKO</h2>
                <p>猫が透けて見える美しいキャット・ツリー。”猫のための近代建築”をコンセプトに、大理石、国産広葉樹やデンマークA社の生地を贅沢にあしらい、飛騨の匠によって生み出された究極の猫用遊戯家具。</p>
                <object>
                    <a href="#">
                        <span class="bg"></span>
                        <span class="t">Product Page</span>
                    </a>
                </object>
            </div>
        </a>
    </div>
    <div class="detail_products_NEKO">
        <a href="#">
            <div class="detail_products_wrapper">
                <img src="/RINN_products_autofood.jpg">
                <h2>NEKO</h2>
                <p>猫が透けて見える美しいキャット・ツリー。”猫のための近代建築”をコンセプトに、大理石、国産広葉樹やデンマークA社の生地を贅沢にあしらい、飛騨の匠によって生み出された究極の猫用遊戯家具。</p>
                <object>
                    <a href="#">
                        <span class="bg"></span>
                        <span class="t">Product Page</span>
                    </a>
                </object>
            </div>
        </a>
        <img src="/RINN_products_autofood2.jpg">

    </div>
</div>