/*タブレット*/

@media screen and (max-width:768px) {
    
    
    /*ヘッダーナビ*/
    
    header .gronav {
        height: 150px;
        padding: 47px 43px 85px 20px;
    }
    
    .gronav_wrap, .gronav_wrap_contact {
        display: none;
    }
    
    .gronav .gronav_toggle {
        display: block;
    }
    
    .gronav .gronav_wrap .gronav_main_menu {
        flex-direction: column;
    }
    
    .gronav .gronav_wrap {
        position: absolute;
        right: 40px;
        top: 80px;
    }
    
    .gronav .gronav_wrap .gronav_main_menu {
        /*text-align: right;*/
    }
    
    .gronav .gronav_wrap .gronav_main_menu li {
        text-align: right;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .gronav .gronav_wrap .gronav_main_menu li a {
        font-size: 1.5rem;
        
    }
    
    .gronav .gronav_wrap_contact {
        position: absolute;
        right: 0;
        top: 270px;
        margin-right: 20px;
    }
    
    .gronav_bg {
        width: 100%;
        height: 370px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    
    
    /*トップ*/
    
    .top_container {
        height: 1130px;
    }
    
    .top_container .top_img {
        position: absolute;
        top: 44vh;
        height: 44vh;
        z-index: 9;
    }
    
    .top_container .top_side {
        width: 100%;
        display: block;
    }
    
    .top_container .top_side .top_side_wrapper {
        /*height: 1000px;*/
        position: relative;
    }

    
    .top_container .top_side .top_side_letter {
        margin-left: 85px;
    }
    
    .top_container .top_side .top_side_letter h2 {
        font-size: 2.5rem;
    }
    
    .top_container .top_side .top_side_letter h1 {
        font-size: 70px;
    }
    
    .top_container .top_side .top_side_latest {
        margin-top: 400px;
        position: absolute;
        left: 15%;
    }
    
    .top_container .top_side .top_side_latest .top_side_latest_wrapper a:hover {
        text-decoration: none;
    }
    
    .top_container .top_side .top_side_latest .top_side_latest_wrapper a img {
        width: 300px;
        height: 250px;
    }
    
    .top_container .top_side .top_side_latest .top_side_latest_wrapper .top_side_product_data {
        bottom: 30px;
        right: -188px;
        padding: 0;
    }
    
    .top_container .top_side .top_side_latest .top_side_latest_wrapper .top_side_product_data .name p {
        font-size: 18px;
    }
    
    .top_container .top_side .top_side_latest_wrapper .top_side_product_data > object a {
        display: block;
    }
    
    
    
    /*top meow*/
    
    .meow_container {
        padding: 30px 0;
        height: 1200px;
    }
    
    .meow_container h1 {
        font-size: 70px;
        letter-spacing: 1em;
        margin-left: 70px;
        margin-bottom: 0;
    }
    
    .meow_container .meow_main {
        flex-direction: column;
        margin-right: 75px;
        margin-left: 75px;
        width: 77vw;
        margin-top: -20px;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .meow_container .meow_main :nth-child(1) {
        order: 2;
        width: 100%;
    }
    
    .meow_container .meow_main .meow_main_title {
        height: 25%;
    }
    
    .meow_container .meow_main .meow_main_title h2 {
        margin-top: 5px;
        font-size: 4.4vw;
        line-height: 1.6;
    }
    
    .meow_container .meow_main .meow_main_title p {
        font-size: 0.97rem;
        height: 40%;
    }
    
    .meow_container .meow_main :nth-child(2) {
        order: 1;
        width: 100%;
        height: 90vw;
    }
    
    .meow_container .meow_main :nth-child(3) {
        order: 3;
        width: 100%;
    }
    
    .meow_container .meow_main .meow_main_button a {
        margin-top: 0;
        width: 170px;
        padding: 14px 47px;
    }
    
    .meow_container .meow_main .meow_main_button a:hover {
        color: #000;
        cursor: pointer;
    }
    
    
    
    /*top products*/
    
    .products_container {
        padding-bottom: 0;
        position: relative;
        margin-bottom: 90px;
    }
    
    .products_container .products_title h1 {
        font-size: 50px;
        margin-top: 70px;
    }
    
    .products_container .products_title .products_title_btn {
        margin-top: 550px;
        width: 165px;
        border: none;
        padding: 14px 60px;
    }
    
    .products_container .products_title .products_title_btn:hover {
        color: #fff;
    }
    
    .products_container .products_main {
        overflow: scroll;
        flex-wrap: nowrap;
        height: 450px;
        width: 645px;
        position: absolute;
        left: 83px;
        top: 130px;
        z-index: 2;
    }
    
    .products_container .products_main::-webkit-scrollbar {
        display: none;
    }
    
    .products_container .products_main .products_main_tree {
        margin-right: 80px;
    }
    
    .products_container .products_main .products_main_cup {
        margin-top: 0;
        margin-right: 80px;
    }
    
    .products_container .products_main .products_main_food {
        margin: 0;
        margin-right: 80px;
    }
    
    .products_container .products_main img {
        width: 250px;
        height: 250px;
    }
    
    .products_container .products_main .products_main_tree .products_main_tree_data {
        top: 275px;
        padding: 0;
    }
    
    .products_container .products_main .products_main_cup .products_main_cup_data {
        top: 275px;
        right: -60px;
        padding: 0;
    }
    
    .products_container .products_main .products_main_food .products_main_food_data {
        top: 275px;
        padding: 0;
    }
    
    .products_container .products_main_btn {
        position: absolute;
        top: 610px;
        left: 80px;
    }
    
    .products_container .products_main_btn i {
        font-size: 25px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    
    .products_container .products_main_btn i:first-child {
        margin-right: 475px;
    }
    
    
    
    /*top journal*/
    
    .journal_container {
        position: relative;
    }
    
    .journal_container .journal_title h1 {
        font-size: 35px;
        margin-top: 70px;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    
    .journal_container .journal_title .hr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .journal_container .journal_btn {
        position: absolute;
        bottom: 45px;
        left: 45px;
    }
    
    .journal_container .journal_btn i {
        font-size: 25px;
    }
    
    .journal_container .journal_btn i:first-child {
        margin-right: 480px;
    }
    
    .journal_container .journal_main {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .journal_container .journal_main .journal_main_article {
        margin: 0 60px 0 0;
    }
    
    .journal_container .journal_main .journal_main_article:not(:last-child) img {
        width: 250px;
        height: 160px;
    }
    
    .journal_container .journal_main .journal_main_article:last-child img {
        width: 270px;
        height: 250px;
    }
    
    .journal_container .journal_main .journal_main_article .name p {
        font-size: 17px;
    }
    
    .journal_container .journal_more_btn {
        width: 165px;
        border: none;
        padding: 14px 60px;
        display: block;
        height: 49px;
        background-color: #000;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 3px;
        letter-spacing: 1px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    
    .journal_container .journal_more_btn:hover {
        cursor: pointer;
        text-decoration: none;
    }
    
    
    
    /*top contact*/
    
    .contact {
        margin-top: 30px;
    }
    
    .contact a {
        height: 190px;
    }
    
    .contact .contact_company_container {
        height: 190px;
    }
    
    .contact .contact_contact_container {
        height: 190px;
    }
    
    .contact a p {
        font-size: 2.4vw;
    }
    
    .contact a h1 {
        font-size: 4.5vw;
    }
    
    
    
    /*meow*/
    
    .detail_meow_container .detail_meow_wrapper {
        margin-left: 0;
    }
    
    .detail_meow_container .detail_meow_title {
        margin-top: 80px;
        margin-bottom: 120px;
    }
    
    .detail_meow_container .detail_meow_title h1 {
        font-size: 8vw;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info {
        flex-direction: column-reverse;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info img {
        width: 100%;
        height: 470px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info h2 {
        margin-top: 57px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info .detail_meow_info_para {
        padding-right: 82px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info .detail_meow_info_para p {
        font-size: 0.95rem;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder img {
        width: 50%;
        width: 330px;
        height: 230px;
        margin-left: 32px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder .detail_meow_founder_name {
        width: 50%;
        margin-top: 41px;
        padding-left: 82px;
    }
    
    .detail_meow_container .detail_meow_founder_greet {
        margin-right: 115px;
        margin-left: 115px;
        height: 300px;
        width: 67vw;
    }
    
    .detail_meow_container .detail_meow_founder_greet p:first-child {
        height: 240px;
        font-size: 0.95rem;
    }
    
    .detail_meow_container .detail_meow_next {
        height: 186px;
    }
    
    .detail_meow_container .detail_meow_next a {
        height: 186px;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn {
        height: 186px;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn p {
        margin-top: 0;
        padding-top: 50px;
        font-size: 2.4vw;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn h2 {
        font-size: 4.5vw;
    }
    
    
    
    /*products*/
    
    .detail_products_container .detail_products_title {
        margin-top: 80px;
        font-size: 8vw;
        margin-bottom: 100px;
    }
    
    .detail_products_container .detail_products_NEKO {
        margin-bottom: 45px;
    }
    
    .detail_products_container .detail_products_NEKO img {
        height: 450px;
    }
    
    .detail_products_container .detail_products_NEKO .detail_products_wrapper {
        padding-top: 0;
        width: 165px;
    }
    
    .detail_products_container .detail_products_NEKO .detail_products_wrapper img {
        width: 22vw;
        height: 22vw;
    }
    
    .detail_products_container .detail_products_NEKO .detail_products_wrapper object a {
        width: 165px;
        padding: 14px 30px;
    }
    
    .detail_products_container .detail_products_NEKO a:hover .detail_products_wrapper object a {
        color: #000;
    }
    
    
    
    /*journal*/
    
    .detail_journal_container .detail_journal_title {
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 8vw;
    }
    
    .detail_journal_container .detail_journal_wrapper {
        width: 100%;
        margin-left: 0;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article {
        margin: 0;
        padding: 40px 20px;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article .detail_journal_img_width {
        width: 300px;
        height: 200px;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article .detail_journal_img_height {
        width: 270px;
        height: 300px;
    }
    
    
    
    /*company*/
    
    .company_container .company_wrapper h1 {
        margin-top: 80px;
        margin-bottom: 120px;
        font-size: 5vw;
    }
    
    .company_container .company_main {
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    
    .company_container .company_main .company_main_right {
        padding: 40px 80px;
    }
    
    .company_container .company_main .company_main_right dl dd {
        margin-bottom: 48px;
    }
    
    .company_container .company_main .company_main_left {
        width: 100%;
        height: 50vh;
    }
    
    .company_container .company_main .company_main_left iframe {
        width: 100%;
        height: 50vh;
    }
    
    
    
    /*contact*/
    
    .contact_container {
        margin-right: 75px;
        margin-left: 75px;
    }
    
    .contact_container .contact_form {
        flex-direction: column;
        margin-top: 70px;
    }
    
    .contact_container .contact_form .contact_form_info {
        width: 100%;
        padding-right: 0;
        margin-bottom: 18px;
    }
    
    .contact_container .contact_form .contact_form_info h1 {
        font-size: 6vw;
        margin-bottom: 50px;
    }
    
    .contact_container .contact_form .contact_form_info dl {
        height: 48px;
        padding-top: 10px;
    }
    
    .contact_container .contact_form .contact_form_message {
        width: 100%;
    }
    
    .contact_container .contact_form .contact_form_message dl {
        display: flex;
    }
    
    .contact_container .contact_form .contact_form_message dl dt {
        display: inline-block;
        font-size: 0.8rem;
        font-weight: normal;
        color: gray;
        width: 20%;
    }
    
    .contact_container .contact_form .contact_form_message dl dd {
        width: 80%;
        display: inline-block;
    }
    
    .contact_container .contact_submit {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    
    .contact_container .contact_submit .contact_submit_btn button {
        width: 165px;
        border: none;
        padding: 14px 28px;
    }
    
    
    
    /*privacy_policy*/
    
    .privacy_policy_container .privacy_policy_title {
        font-size: 5vw;
    }
    
    .privacy_policy_container .privacy_policy_content{
        width: 100%;
        padding-right: 120px;
        padding-left: 120px;
    }
    
}
    
    
    
    
    
/*スマホ*/
@media screen and (max-width:481px) {
    
    body {
        overflow-x: hidden;
    }
    
    /*ヘッダーナビ*/
    
    header .gronav {
        padding-top: 20px;
        padding-right: 20px;
    }
    
    header .gronav .gronav_logo {
        margin-left: 0;
        margin-top: -30px;
    }
    
    
    
    /*フッター*/
    
    footer .footer_wrapper .footer_container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    
    footer .footer_wrapper .footer_container p {
        margin-top: 20px;
    }
    
    
    /*top top*/
    
    .top_container .top_side .top_side_letter {
        margin-left: 40px;
        margin-top: 90px;
    }
    
    .top_container .top_img {
        top: 30vh;
        height: 50vh;
    }
    
    .top_container .top_side .top_side_letter h2 {
        font-size: 8vw;
    }
    
    .top_container .top_side .top_side_letter h1 {
        display: none;
    }
    
    .top_container .top_side .top_side_wrapper .top_side_latest {
        margin-top: 450px;
    }
    
    .top_container .top_side .top_side_wrapper .top_side_latest .top_side_latest_wrapper a img {
        width: 250px;
        height: 250px;
    }
    
    .top_container .top_side .top_side_wrapper .top_side_latest .top_side_latest_wrapper a .top_side_product_data {
        width: 250px;
        right: 0;
        bottom: -140px;
    }
    
    .top_container .top_side .top_side_wrapper .top_side_latest .top_side_latest_wrapper {
        width: 250px;
    }
    
    
    
    /*top meow*/
    
    .meow_container {
        height: 860px;
    }
    
    .meow_container h1 {
        font-size: 33px;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .meow_container .meow_main {
        margin-left: 40px;
        margin-right: 40px;
        justify-content: start;
        padding-bottom: 30px;
    }
    
    .meow_container .meow_main .meow_main_title {
        margin-top: 28px;
        height: 250px;
    }
    
    .meow_container .meow_main .meow_main_title h2 {
        font-size: 5.6vw;
    }
    
    .meow_container .meow_main .meow_main_title p {
        font-size: 0.9rem;
        color: #999;
    }
    
    .meow_container .meow_main .meow_main_button {
        margin-top: 35px;
    }
    
    
    
    /*top products*/
    
    .products_container {
        padding-left: 0px;
        margin-bottom: 0;
    }
    
    .products_container .products_title h1 {
        margin-top: 60px;
        margin-left: 60px;
        margin-bottom: 0;
        font-size: 8vw;
        letter-spacing: 0.2em;
    }
    
    .products_container .products_title a {
        margin-top: 370px !important;
        margin-left: 100px;
    }
    
    .products_container .products_main {
        height: 280px;
        margin-left: -40px;
        margin-top: -50px;
        overflow-x: auto;
        width: 320px;
    }
    
    .products_container .products_main .products_main_tree {
        height: 125px;
        margin-right: 40px;
    }
    
    .products_container .products_main .products_main_tree img {
        width: 125px;
        height: 125px;
    }
    
    .products_container .products_main .products_main_tree .products_main_tree_data {
        width: 150px;
        margin-right: 40px;
        margin-top: -140px;
    }
    
    .products_container .products_main .products_main_tree .products_main_tree_data h2 {
        font-size: 1.8rem;
    }
    
    .products_container .products_main .products_main_tree .products_main_tree_data p {
        font-size: 0.8rem;
    }
    
    .products_container .products_main .products_main_cup {
        height: 125px;
        margin-right: 40px;
    }
    
    .products_container .products_main .products_main_cup img {
        width: 125px;
        height: 125px;
    }
    
    .products_container .products_main .products_main_cup .products_main_cup_data {
        width: 150px;
        margin-right: 40px;
        margin-top: -140px;
    }
    
    .products_container .products_main .products_main_cup .products_main_cup_data h2 {
        font-size: 1.8rem;
    }
    
    .products_container .products_main .products_main_cup .products_main_cup_data p {
        font-size: 0.8rem;
    }
    
    .products_container .products_main .products_main_food {
        height: 125px;
        margin-right: 40px;
    }
    
    .products_container .products_main .products_main_food img {
        width: 125px;
        height: 125px;
    }
    
    .products_container .products_main .products_main_food .products_main_food_data {
        width: 150px;
        margin-right: 40px;
        margin-top: -140px;
    }
    
    .products_container .products_main .products_main_food .products_main_food_data h2 {
        font-size: 1.8rem;
    }
    
    .products_container .products_main .products_main_food .products_main_food_data p {
        font-size: 0.8rem;
    }
    
    .products_container .products_main_btn {
        top: auto;
        bottom: 0;
        left: 20px;
    }
    
    .products_container .products_main_btn i:first-child {
        margin-right: 240px;
    }
    
    
    
    /*top journal*/
    
    .journal_container {
        padding-right: 0;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    
    .journal_container .journal_title h1 {
        margin-right: 40px;
        margin-top: 50px;
        font-size: 8vw;
    }
    
    .journal_container .journal_btn {
        left: 0px;
        bottom: -20px;
    }
    
    .journal_container .journal_main {
        margin-top: 0;
        margin-bottom: 95px;
        margin-right: 10px;
    }
    
    .journal_container .journal_btn i:first-child {
        margin-right: 220px;
    }
    
    .journal_container .journal_main .journal_main_article {
        margin-right: 40px;
    }
    
    .journal_container .journal_main .journal_main_article:not(:last-child) img {
        width: 138px;
        height: 92px;
    }
    
    .journal_container .journal_main .journal_main_article:last-child img {
        width: 138px;
        height: 138px;
    }
    
    .journal_container .journal_more_btn {
        margin-left: 65px;
    }
    
    
    
    /*top contact*/
    
    .contact a {
        height: 95px;
    }
    
    .contact .contact_company_container {
        height: 95px;
    }
    
    .contact .contact_contact_container {
        height: 95px;
    }
    
    .contact .contact_company_container h1 {
        letter-spacing: 2px;
    }
    
    .contact .contact_contact_container h1 {
        letter-spacing: 2px;
    }
    
    .contact .contact_company_container p {
        margin-bottom: 5px;
    }
    
    .contact .contact_contact_container p {
        margin-bottom: 5px;
    }
    
    
    
    /*meow*/
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_title {
        margin-top: 40px;
        margin-bottom: 70px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info {
        margin-bottom: 56px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info img {
        height: 225px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info .detail_meow_info_para {
        padding-left: 62px;
        padding-right: 62px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info .detail_meow_info_para h2 {
        font-size: 5.6vw;
        margin-top: 36px;
        letter-spacing: 1px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_info .detail_meow_info_para p {
        font-size: 0.9rem;
        color: #000;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder {
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder img {
        width: 290px;
        height: 210px;
        margin-left: 40px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder .detail_meow_founder_name {
        margin-top: 20px;
        width: 100%;
        padding-left: 62px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder .detail_meow_founder_name h2 {
        font-size: 5.6vw;
        margin-bottom: 20px;
    }
    
    .detail_meow_container .detail_meow_wrapper .detail_meow_founder .detail_meow_founder_name h4 {
        font-size: 1rem;
    }
    
    .detail_meow_container .detail_meow_founder_greet {
        margin-right: 62px;
        margin-left: 62px;
        margin-bottom: 165px;
    }
    
    .detail_meow_container .detail_meow_founder_greet p {
        font-size: 0.92rem !important;
        font-weight: 500;
    }
    
    .detail_meow_container .detail_meow_founder_greet p:first-child {
        margin-bottom: 150px;
    }
    
    .detail_meow_container .detail_meow_next {
        height: 92px;
    }
    
    .detail_meow_container .detail_meow_next a {
        height: 92px;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn {
        height: 92px;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn p {
        padding-top: 25px;
        margin-bottom: 3px;
    }
    
    .detail_meow_container .detail_meow_next .detail_meow_next_btn h2 {
        font-size: 4.5vw;
        letter-spacing: 2px;
    }
    
    
    
    /*products*/
    
    .detail_products_container .detail_products_title {
        margin-top: 40px;
        margin-bottom: 80px;
    }
    
    .detail_products_container .detail_products_NEKO:nth-child(even) {
        flex-direction: column;
        margin-bottom: 85px;
    }
    
    .detail_products_container .detail_products_NEKO:nth-child(odd) {
        flex-direction: column-reverse;
        margin-bottom: 85px;
    }
    
    .detail_products_container .detail_products_NEKO img {
        width: 100%;
        height: 225px;
    }
    
    .detail_products_container .detail_products_NEKO a {
        width: 100%;
    }
    
    .detail_products_container .detail_products_NEKO a .detail_products_wrapper {
        margin-top: 40px;
        width: 250px;
    }
    
    .detail_products_container .detail_products_NEKO a .detail_products_wrapper img {
        width: 250px;
        height: 250px;
    }
    
    
    
    /*journal*/
    
    .detail_journal_container .detail_journal_title {
        margin-top: 40px;
        margin-bottom: 80px;
    }
    
    .detail_journal_container .detail_journal_wrapper {
        padding-right: 0;
        padding-left: 0;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article a {
        width: 100%;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article a img {
        width: 100% !important;
        height: auto !important;
    }
    
    .detail_journal_container .detail_journal_wrapper .journal_main_article .journal_main_article_title {
        margin-left: 40px;
    }
    
    
    
    /*company*/
    
    .company_container .company_wrapper h1 {
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 8vw;
    }
    
    .company_main_right dl dt:first-child {
        margin-top: 0;
    }
    
    .company_container .company_main .company_main_right {
        width: 100%;
        padding-top: 0;
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .company_container .company_main .company_main_right dl {
        width: 100%;
    }
    
    .company_container .company_main .company_main_right dl dt {
        font-size: 0.9rem;
    }
    
    .company_container .company_main .company_main_right dl dd {
        font-size: 0.9rem;
    }
    
    
    
    /*contact*/
    
    .contact_container {
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 80px;
    }
    
    .contact_container .contact_form {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .contact_container .contact_form .contact_form_info h1 {
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    
    .contact_container .contact_form .contact_form_info dl {
        flex-direction: column;
        padding-top: 12px;
        height: 80px;
    }
    
    .contact_container .contact_form .contact_form_info dl dt {
        width: 100%;
    }
    
    .contact_container .contact_form .contact_form_info dl dd {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .contact_container .contact_form .contact_form_message dl {
        flex-direction: column;
    }
    
    .contact_container .contact_form .contact_form_message dl dd {
        width: 100%;
    }
    
    .contact_container .contact_form .contact_form_message dl dd textarea {
        padding: 16px;
    }
    
    .contact_container .contact_submit {
        flex-direction: column;
        margin-top: 60px;
    }
    
    .contact_container .contact_submit .contact_submit_policy {
        margin-bottom: 28px;
    }
    
    .contact_container .contact_submit .contact_submit_policy a {
        font-size: 0.7rem;
    }
    
    .contact_container .contact_submit .contact_submit_policy a span {
        font-size: 0.7rem;
    }
    
    .contact_container .contact_submit .contact_submit_btn {
        margin-left: 100px;
    }
    
    
    
    /*privacy_policy*/
    
    .privacy_policy_container .privacy_policy_title {
        font-size: 9vw;
        margin-top: 60px;
        margin-bottom: 60px;
        letter-spacing: 3px;
    }
    
    .privacy_policy_container .privacy_policy_content{
        width: 100%;
        padding-right: 60px;
        padding-left: 60px;
        margin-bottom: 60px;
    }
    

}
    
    
