<footer>
    <div class="footer_wrapper">
        <div class="footer_container">
            <a href="/privacy_policy" id="privacy-policy">Privacy Policy</a>
            <p>Copyright © 2020 NEKO Inc.</p>
        </div>
        <div class="footer_sns">
            <i class="fab fa-facebook-f faa-vertical animated-hover"></i>
            <i class="fab fa-instagram faa-vertical animated-hover"></i>
        </div>
    </div>
</footer>