<div class="footer_bg">
    <img src="/footstamp.svg" class="footstamp1">
    <img src="/footstamp.svg" class="footstamp2">
    <img src="/footstamp.svg" class="footstamp3">
    <p>MADE FOR CATS,<br>DESIGNED FOR YOU.</p>
</div>
